<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<h3>Comments</h3>
<%article.comments.forEach(comment => {%>
  <!--TEST TO SEE IF COMMENT.COMMENT DISPLAYS COMMENT-->
  <strong><p><%=comment.dataValues.name%></p></strong>
  <p><%=comment.dataValues.content%></p>
  
<%})%>

<hr />

<a href="/">&larr; Back Home</a>
